<ul>
    <li *ngFor="let item of items; trackBy:trackById" [ngClass]="{'active': isActive(item)}" [style.paddingLeft.px]="20">
      <a *ngIf="item.link" [routerLink]="item.link" routerLinkActive="active">
        <mat-icon>{{item.icon}}</mat-icon>
        {{ item.label }}
       </a>
      <div class="item-label" (click)="toggle($event)" *ngIf="!item.link">
        <span>
            <mat-icon>{{item.icon}}</mat-icon>
            {{ item.label }}
        </span>
        <mat-icon class="menu-arrow">arrow_forward_ios</mat-icon>
      </div>
      <div class="children">
        <app-sidebar-item *ngIf="item.children" [items]="item.children" [depth]="depth + 1"></app-sidebar-item>
      </div>
    </li>
</ul>
