@import '../../../../styles/variables';

.breadcumb-container{
    padding: 1em;
    //background-color: lighten($tertiary-color, 50);
    //border-bottom-left-radius: 15px;
    //border-bottom-right-radius: 15px;
    a{
        text-decoration: none;
        color: $dark;
    }
}