$primary-color: #6210c0;
$secondary-color: #ffffff;
$tertiary-color: #61686e;
$gray:gray;
$dark:#222222;
$darkGray:#4e4e4e;
$lightGray:rgb(185, 185, 185);
$font-stack: "Open Sans", sans-serif;

$danger:#ec2f2f;
$success:#0dac45;
$info:#3c5e9f;
$white:white;
$black:black;