<div class="sidebar-container"> 
    <div class="sidebar-header">
        <div class="logo">
            <mat-icon>computer</mat-icon>
            <span>
                ALAKBARLI
            </span>
        </div>
        <!-- <div class="close-button">
            <mat-icon>close</mat-icon>
        </div> -->
    </div>
    <div class="sidebar-navbar">
        <app-sidebar-item [items]="items"></app-sidebar-item>
    </div>
    <div class="sidebar-footer">
        <span>Do something</span>
    </div>
</div>
